{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录 </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <script src="{% static 'base/js/jquery-3.3.1.min.js' %}"
            type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'sign/sign.js'%}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <form method="post" action="/sign/" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
            <span >
              账号：
            </span>
            <input name="name" id="name" placeholder="账号">
            <span id="nameerr" style="color: red ;display: none">账号不存在</span>
        </div>
        <div>
            <span>
               密码：
            </span>
            <input type="password" id="pass" name="password"  placeholder="密码">
            <span id="passerr" style="color: red ;display: none">
                密码长度不对
            </span>
        </div>
        <div>
            <input type="submit" id="sign" disabled=false name="sign" value="登录">
            <a href="{%url 'app:mean'%}"><input type="button" name="sign" value="返回"></a>
        </div>
        <span>{{error}}</span>
    </form>
</body>
</html>